<div class="max-w-md mx-auto mt-8">
  <h1 class="text-3xl font-bold mb-4">Nowe przypisanie</h1>

  <%= render "form", assignment: @assignment %>

  <div class="mt-6">
    <%= link_to "Powrót do przypisań", assignments_path, class: "text-blue-500 hover:underline" %>
  </div>
</div>
