<div id="<%= dom_id task %>">
  <p>
    <strong>Nazwa:</strong>
    <%= task.name %>
  </p>

  <p>
    <strong>Opis:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Projekt:</strong>
    <%= task.project.name %>
  </p>

</div>
