<div class="max-w-md mx-auto mt-8">
  <h1 class="text-3xl font-bold mb-4">Nowy użytkownik</h1>

  <%= render "form", user: @user %>

  <div class="mt-6">
    <%= link_to "Powrót do użytkowników", users_path, class: "text-blue-500 hover:underline" %>
  </div>
</div>
