<div class="text-center">
  <h1>Edycja projektu</h1>

  <%= render "form", project: @project %>

  <div class="mt-4">
    <%= link_to "Pokaż ten projekt", @project %> |
    <%= link_to "Powrót do projektów", projects_path %>
  </div>
</div>
